@import "../../../styles/main.scss";

.header{
    &__top{
        background: $gray-color-text;
        height:5rem;
    }
    &__bottom{
        background: $color-background-primary;
        height:8rem;
        &--nav{

        }
        &--logo{
            height: 100%;
        }
    }
}